<li class="activity">
    <div class="inline block">
        <div class="userImage">
            <img style="height:45px; width:45px" src={{user_profile_picture}}>
        </div>
    </div>

    <div class="inline block" data-project-id="{{projID}}">
            <strong><a href="#" class="view-user">{{user}}</a></strong>
            {{#if isProject}}
                created a new project:
                <a href="#" class="project-link"><strong>{{project_title}}</strong></a>
                <span class="post-text"> on {{prettyDate}} at {{prettyTime}}</span>

            {{else}}
                posted on <a href="#" class="project-link">
                <span class="project-title"><strong>{{project_title}}</strong></span></a>
            <span class="post-text"> on {{prettyDate}} at {{prettyTime}}
                <br/> {{post_text}}</span>
            {{/if}}
    </div>

</li>
