
<div class="project-container" >
    <div class="proj" >
        <header class="project-header" id="project-header" data-project-id={{project._id}}>
                <a href="#" class="home-link">
                    <span class="glyphicon glyphicon-remove cancel-button" aria-hidden="true" style="font-size:3em; padding-top:2px; padding-left:2px"></span>
                </a>

            <div class="project-title" id="projectView-title">
                {{project.title}}
            </div>
            <div class="project-description" id="projectView-description">
                {{project.description}}
                <br />
                by <a href="#" class="view-user" view-user-id={{project.owner}}>{{project.owner}}</a>
            </div>
            <div style="display:inline-block;">
            {{#if user_logged_in}}
            	
            	{{#ifAlreadyVoted project.upvoterUsernames }}
            	<span id="myButton-upvote" class="vote on glyphicon glyphicon-chevron-up" style="font-size:3em;"> </span>
            	{{else}}
            		<span id="myButton-upvote" class="vote glyphicon glyphicon-chevron-up" style="font-size:3em;"> </span>
            	{{/ifAlreadyVoted}}
                
            {{else}}
            	<span id="myButton-upvote" class="not-logged-in-vote glyphicon glyphicon-chevron-up" style="font-size:3em;"> </span>

            {{/if}}
                <div id="projectView-upvotes" style="font-size:14px">
                    {{project.upvoterUsernames.length}}
                </div>
               </div>
            {{#if user_logged_in}}
                {{#if favorited}}
                    <button id="unfavorite-button" class="project-actions">Unfavorite</button>
                {{else}}
                    <button id="favorite-button" class="project-actions">Add to favorites</button>
                {{/if}}
            {{/if}}

            {{#if is_owner_of_this_project}}
                <button id="edit-project-button" class="project-actions">Edit project</button>
            {{/if}}
        </header>
        <div class="project-body">
            <div class="project-body-left">
                <div class="project-content project-media">
                    <div class="project-media">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            {{#if project.videoID}}
                                <div class="item"><iframe width="263" height="183" src="https://www.youtube.com/embed/{{project.videoID}}" frameborder="0" allowfullscreen></iframe></div>
                            {{/if}}
                            {{#each project.imageLinks}}
                                <div class="item"><img src={{this}} alt="Project Image" style="width:270px; height:190px"></div>
                            {{/each}}
                        </div>
                        <a href="#" class="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                        <a href="#" class="next"><span class="glyphicon glyphicon-menu-right" style="float:right;"></span></a>
                    </div>
                </div>
                <div class="project-content project-discussion">
                    <div class="project-discussion-title">
                        Discussion
                    </div>
                    {{#each discussions}}
                        <div class="project-discussion-post">
                            <div class="post-content project-discussion-head">
                                <span class="userImage"><img src="{{user.profile_picture}}" width="35" height="35"></span>
                                <span class="post-user"><a href="#" class="view-user" view-user-id={{user.username}}>{{user.username}}</a></span>
                                <span class="post-time">on {{prettyDate}} at {{prettyTime}}</span>
                            </div>
                            <div class="post-content project-discussion-body">
                                {{postContent content}}
                            </div>
                            {{#each comments}}
                                <div class="project-discussion-comment">
                                    <div class="post-content discussion-comment-head">
                                        <span class="userImage"><img src="{{user.profile_picture}}" width="35" height="35"></span>
                                        <span class="post-user"><a href="#" class="view-user" view-user-id={{user.username}}>{{user.username}}</a></span>
                                        <span class="post-time">on {{prettyDate}} at {{prettyTime}}</span>
                                    </div>
                                    <div class="post-content discussion-comment-body">
                                        {{postContent content}}
                                    </div>
                                </div>
                            {{/each}}
                            {{#if @root.user_logged_in}}
                                <div class="comment-add" data-discussion-id={{id}}>
                                    <input type="text" class="comment-add-content" id="comment-add-content-{{id}}" />
                                    <button class="comment-add-btn btn btn-default">Reply</button>
                                </div>
                            {{/if}}
                        </div>
                    {{else}}
                        No discussions have been opened yet for this project.
                    {{/each}}
                    {{#if user_logged_in}}
                        <div class="project-discussion-add">
                            <input type="text" id="project-discussion-add-content" />
                            <button id="project-discussion-add-btn" class = "btn btn-default">Add Discussion</button>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="project-body-right"></div>
        </div>
    </div>
</div>
