
<div class="project-container" >
	<div class="proj project-navigation">
   	
   	<a href="#" class="home-link">
   	<span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size:1.5em"></span>
   	</a>
	
	</div>
	<div class="proj project-content" >
		<header class="project-header" id="project-header" data-project-id={{project._id}}>
			<div class="project-title" id="projectView-title">
				{{project.title}}
			</div>
			<div class="project-description" id="projectView-description">
				{{project.description}}
			</div>
			<a href="#" id="myButton-upvote"><span id="projectView-upvotes">{{project.upvoterUsernames.length}}</span> | Upvote</a>
            <a href="#" id="favorite-button">Add to favorites</a>
		</header>
		<div class="project-body">
			<div class="project-body-left">
				<div class="project-media">
					{{#each project.imageLinks}}
						<img src={{this}} alt="image" height="150px">
					{{/each}}
				</div>
				<div class="project-discussion">
					<div class="project-discussion-title">
					    Discussion
				    </div>
					{{#each discussions}}
						<div class="project-discussion-post">
							<div class="post-content project-discussion-head">
							    <span class="post-user">{{username}}</span>
							    <span class="post-time">at {{time}}</span>
							</div>
							<div class="post-content project-discussion-body">
								{{content}}
							</div>
							{{#each comments}}
								<div class="project-discussion-comment">
									<div class="post-content discussion-comment-head">
							            <span class="post-user">{{username}}</span>
							            <span class="post-time">at {{time}}</span>
									</div>
									<div class="post-content discussion-comment-body">
										{{content}}
									</div>
								</div>
							{{/each}}
							{{#if @root.user_logged_in}}
								<div class="comment-add" data-discussion-id={{id}}>
									<input type="text" class="comment-add-content" id="comment-add-content-{{id}}" />
									<button class="comment-add-btn">Reply</button>
								</div>
							{{/if}}
						</div>
					{{else}}
						No discussions have been opened yet for this project.
					{{/each}}
					{{#if user_logged_in}}
						<div class="project-discussion-add">
							<input type="text" id="project-discussion-add-content" />
							<button id="project-discussion-add-btn">Add Discussion</button>
						</div>
					{{/if}}
				</div>
			</div>
			<div class="project-body-right"></div>
		</div>
	</div>
	</div>
