{{> navbar}}
<main class="page-main">
    <header class="profileHeader">
        <div class="profileContainer" data-user-id={{user}}>
            <div class="profileAvatar">
                <span class="userImage"><img src={{profile_picture}} width="110" height="110"></span>
            </div>
            <div class="profileInfo">
                <h1 class="profileInfoTitle">
                    {{user}}
                </h1>
            </div>
            {{#if user_logged_in}}
                {{#if following}}
                    <button type="button" class="btn btn-warning pull-right" id="unfollow-btn"><strong>UNFOLLOW</strong></button>
                {{else}}
                    <button type="button" class="btn btn-warning pull-right" id="follow-btn"><strong>FOLLOW</strong></button>
                {{/if}}
            {{/if}}
        </div>
    </header>
    <div >
        <div class= "projectFeed">
            <ul class="projectList">
                {{#each projects}}
                    {{> project}}
                {{else}}
                    <p><em>No projects yet!</em></p>
                {{/each}}
            </ul>
        </div>
    </div>
</main>